body {
  background-color: #37383E;
  font-family: helvetica;
  margin: 0;
}

.top-bar {
  background-color: #5D6074;
  color: #E7E7E8;
  text-align: left;
  width: 100%;
}

.title {
  display: inline-flex;
  font-size: 38px;
  margin-top: 1em;
  margin-left: 1em;
}

.top-bar a {
  display: inline-flex;
  text-decoration: none;
  color: #E7E7E8; 
}

.top-bar a:hover {
  text-decoration: underline;
}

.search-btn {
  background-color: #5D6074;
  color: #D3D4D8;
  border-radius: 2px;
  border-style: solid;
  border-color: #5D6074;
  vertical-align: middle;
  margin-top: 10px;
}

.search-btn:hover {
  cursor: pointer; 
  background-color: #525779;
}

.characters-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}

.character-tile {
  width: 200px;
  height: 220px;
  overflow: hidden;
  margin: 8px;

  position: relative;
  text-align: center;
}

.character-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke-color: #3b3b3b;
  -webkit-text-stroke-width: 0.8px;
}

.character-tile img {
  object-fit: scale-down;
  max-width: 200px;
  max-height: 220px;
  width: auto;
  height: auto;
}

.searchbar-container {
  text-align: center;
}

.searchbar {
  width: 80%;
  padding: 12px;
  margin: 24px;
  font-family: helvetica;
  vertical-align: middle;
  border: 1px solid #131313;
  background-color: #26272D;
  color: #E7E7E8;

}

input:focus {
  outline: navy;
}

